@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

#main {
	padding: 0 30px;

	h1 {
		border-bottom: 1px solid #ccc;
		padding-bottom: 20px;
		margin-bottom: 20px;
	}

	button {
		margin-top: 20px;
		width: 100%;
	}
}
